h1{
text-align: left;
margin-left: 100px;
font-family: 'Julius Sans One', sans-serif;
}
.WH{
    display: flex;
    float: left;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: -100px;
}
body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left:auto;
    background-color: #2A0A32;
    color: white;
    align-items: center;
    justify-content: flex-end;
    margin:auto; 
    text-align: flex-start;
    font-size: 25px;
}
header{
    padding: 10px;
    background-color:#2A0A32;
    color: white;
    align-items: top;
}

nav ul{
    display: flex;
    justify-content: right;
    color: white

}
.barra{
    display: flex;
    width: 1080px;
    height: 100px;
    align-items: center;
    flex-direction: column;
    justify-self: flex-start;
}

ul a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    color: white;
    margin: 20px;
    margin-top: -60px;
}

.principal h2,h3{
    color: white;
    font-size: 30px;
    justify-content: center; 
    text-align: center;
    margin-left: 30px;
    font-family:'Birthstone Bounce', cursive;
    margin-top: 5%;
}
.principal h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    margin-top: 2%;
}

.cuadro{
    width: 200px; 
    height: 55px; 
    border: 2px solid black; 
    align-items: center;
    margin-left: 43%;
    margin-top: 7%;
    background-color: black;
}

.cuadro p{
    text-align: justify; 
    align-items: justify;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-left: 25px;
    color: white;
    text-decoration: none;
}

.cuadro p:hover{
    background-color: white;
    color: black;
}
.cuadro:hover{
    background-color: white;
    color: black;
}

img{
    display: block;
    margin-bottom: 20px;
    width: 60%;
    height: 5m;
    margin: auto;
    margin-top: 30px;
    
}

.RedesSociales{
    max-width: 30px;
    max-height: 30px;
    margin-bottom: 35px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 620px;
}


.fondo{
    background-image: url(https://img.archiexpo.es/images_ae/photo-g/132605-10788216.webp);
    background-repeat: repeat;
    width: 32,5cm;
    height: 40cm;
    position:absolute;
    background-size:cover;
}

.vino{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content:left;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 30px;
}

.segundo h2,h3{
    color: white;
    font-size: 20px;
    justify-content: left;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;

}

.segundo h3{
    justify-content: left;
    text-align: left;
    margin-left: 30px;
}

h4,h5,h6,h7,h8,h9,h10,h11,h12,h13,h14{
    font-family:'Manrope', sans-serif;
    color: white;
    text-align: flex-start;
    font-size: 27px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 50px;
}

p{
    font-family:'Manrope', sans-serif;
    color: white;
    text-align:left;
    font-size: 17px;
    margin-left: 30px;
}

.Contenedor{
    float:left;
    column-count: 2;
    column-gap: 20px;
}

.Introduccion{
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
    padding-right: 40px;
}

.Introduccion2{
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: -20px;
    padding-right: 40px;
    font-weight: bold;
}
.Presentacion1{
    font-family: 'Poppins', sans-serif;
    background-color: #2A0A32;
    color: white;
    justify-content: flex-end;
    text-align: flex-start;
    font-size: 23px;
    display: flex;
    justify-content: center;
    padding-top: 230px;
    margin-left: -485px;
}

.Presentacion2{
    font-family: "Poppins", sans-serif;
    background-color: #2A0A32;
    color: white;
    justify-content:baseline;
    text-align: flex-start;
    font-size: 23px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    margin-left: auto;
    margin-top: -57px;
}

.Presentacion3{
    font-family: "Poppins", sans-serif;
    background-color: #2A0A32;
    color: white;
    justify-content: flex-end;
    text-align: flex-start;
    font-size: 23px;
    display: flex;
    justify-content: right;
    padding-top: 255px;
    margin-right: 355px;
    margin-top: -288px;
}

.Fotodueños{
    margin-bottom: 20px;
    margin: auto;
    margin-top: 30px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    text-align: center;
    justify-content: center;
 }
      
.Fotodueños img{
    width: 150%; 
    margin-right: 10px; 
    text-align: center;
    justify-content: center;
}
    
.Fotodueños img:last-child{
    margin-right: 0;
    text-align: center;
    justify-content: center;
}

.Textito h2{
    color: white;
    font-size: 30px;
    justify-content: left;
    margin-left: 50px;
    margin-top: 75px;
    font-family: 'Poppins', sans-serif;
}

.Textito h3{
    color: white;
    font-size: 15px;
    justify-content: justify;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.Textito h4{
    color: white;
    font-size: 15px;
    justify-content: justify;
    margin-left: 122px;
    font-family: 'Poppins', sans-serif;
    margin-right: 80px;
}

.Textito h5{
    color: white;
    font-size: 15px;
    justify-content: justify;
    margin-left: 122px;
    font-family: 'Poppins', sans-serif;
    margin-right: 80px;
}

.contacto{
    color: white;
    font-size: 30px;
    justify-content: center; 
    text-align: center;
    margin-left: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
}

.Contactofinal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh; 
}
  
.contacto,.Mail,.Telefono{
    margin-bottom: 10px; 
}
  

.Mail{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Telefono{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WH2{
    max-width: 240px;
    max-height: 230px;
    margin-bottom: 35px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    margin-left: 527px
}

.botonRESERVA{
    font-family: "Poppins", sans-serif;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    padding-right: 40px;
    font-weight: bold;
    cursor: pointer;
    position: sticky;
}
